@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: "DM Sans", sans-serif;
	line-height: 1.5;
	background-color: #f1f3fb;
	padding: 0 2rem;
}

.name{
	color: #6658d3;
}

img {
	max-width: 100%;
	display: block;
}

#users{
	margin-top: 25px;
	height: 150px;
}

/*iOS Reset */
input {
	appearance: none;
	border-radius: 0;
}

.card, .card2, .card3 {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
	position: relative;
}

.card{
	max-width: 425px;
}

.card3{
	max-width: 700px;
}

.card-image {
	border-radius: 8px;
	overflow: hidden;
	padding-bottom: 65%;
	background-image: url('https://assets.codepen.io/285131/coffee_1.jpg');
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: 0 5%;
	position: relative;
}

.card-heading {
	position: absolute;
	left: 10%;
	top: 15%;
	right: 10%;
	font-size: 1.75rem;
	font-weight: 700;
	color: #735400;
	line-height: 1.222;
	small {
		display: block;
		font-size: .75em;
		font-weight: 400;
		margin-top: .25em;
	}
}

.card-form {
	padding: 2rem 1rem 0;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}

.input-label {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: #6658d3;
		&+.input-label {
			color: #6658d3;
			transform: translateY(-1.5rem);
		}
	}
}

.action {
	margin-top: 2rem;
}

.action-button {
	font: inherit;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: #6658d3;
	border-radius: 6px;
	color: #FFF;
	border: 0;
	&:focus {
		outline: 0;
	}
}

.card-info {
	padding: 1rem 1rem;
	text-align: center;
	font-size: .875rem;
	color: #8597a3;
	a {
		display: block;
		color: #6658d3;
		text-decoration: none;
	}
}

.pagination-container {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 205px;
	justify-content: center;
	width: 100%;
}

.pagination-container3 {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 106px;
	justify-content: center;
	width: 100%;
}

.pagination-number, .pagination-number2, .pagination-number3{
	display: none;
}
.pagination-button{
	font-size: 1.1rem;
	background-color: transparent;
	border: none;
	/*margin: 0.25rem 0.25rem 0.25rem 6.25rem;*/
	cursor: pointer;
	height: 2.5rem;
	width: 2.5rem;
	border-radius: .2rem;
}

.pagination-number:hover,.pagination-button:not(.disabled):hover, .pagination-number2:hover, .pagination-number3:hover {
	background: #fff;
}

.pagination-number.active, .pagination-number2.active, .pagination-number3.active {
	color: #fff;
    background: #6658d3;
    display: block;
    font-size: 1.1rem;
    border: none;
    /*margin: 0.25rem 0.25rem 0.25rem 3.25rem;*/
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.2rem;
}  

.hidden {
	display: none;
}

ul{
	list-style: none;
}

td{
	text-align: center;
}

.id{
	width: 12%;
}

.email{
	width: 80%;
}

.verified{
	width: 8%;
	text-align: end;
}

.title{
	font-size: 1.75rem;
	font-weight: 700;
	color: #735400;
	line-height: 1.222;
	text-align: center;
}

.form-check-input{
	appearance: auto !important;
}

.table{
	width: -webkit-fill-available;
}